.my-card{
    font-family: Arial, Helvetica,Museo;
    margin-top: 20px;
    margin-left: 15px;
   padding-left: 10px;
   padding-top: 5px;
    background-color: white;
}
img{
   width: 60px;
   
}
.my-order{
    padding: 15px;
}
.my-order-span{
    margin-left: 45%;
    opacity: 0.8;
    color: #242B2E;
    cursor: pointer;
}
.my-order-span:hover{
    // -webkit-transform: scale(1.3);
    color: #1B98F5;
}
.span-person{
    margin-top: 10%;

}
.my-card1{
    font-family: Arial, Helvetica,Museo;
    margin-top: 20px;
    margin-left: 15px;
   padding-left: 30px;
   padding-top: 20px;
    background-color: white;
}
