<div class="container-fluid">
  <mdb-breadcrumb customClass="special-color white-text mt-3">
    <mdb-breadcrumb-item routerLink="/home">Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active" >Services</mdb-breadcrumb-item>
  </mdb-breadcrumb>
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">SILVER PACKAGE <mdb-badge color="red" class="ml-2 p-2">@<mdb-icon fas icon="rupee-sign ml-2 mr-1"></mdb-icon>499</mdb-badge></h5>
      <hr>
      <div class="row card-text ">
        <div class="col-md">

          <h5>Vacuum Cleaning</h5>
          <ul>
            <li>Full Interior</li>
            <li>Diggi</li>
            <li>Engine</li>
          </ul>
        </div>
        <div class="col-md">
          <h5>Interior Basic Clean</h5>
          <ul>
            <li>Doors</li>
            <li>Dash-board</li>
            <li>Door Panel</li>
            <li>Foot-mats</li>
            <li>Centre Console</li>
          </ul>
        </div>
        <div class="col-md">

          <h5>Exterior</h5>
          <h6>Engine Cleaning</h6>
          <ul>
            <li>Vacuuming</li>
            <li>Dry Wash</li>
          </ul>
          <h5>Washing</h5>
          <ul>
            <li>Jet Wash</li>
          </ul>

        </div>
        <div class="col-md">

          <h5>Basic Polishing</h5>
          <ul>
            <li>Door beads</li>
            <li>Dash-board</li>
            <li>Tyres</li>
            <li>Outer Black Parts</li>

          </ul>
          <button type="button" mdbBtn gradient="blue" mdbWavesEffect
          (click)="book1()" >Book Now</button>
        </div>
      </div>

    </div>

    
  </div>

  <!-- Card 2 gold package-->
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title">GOLD PACKAGE
        <mdb-badge color="amber darken-2" class="ml-2 p-2">@<mdb-icon fas icon="rupee-sign ml-2 mr-1"></mdb-icon>899
          </mdb-badge>
      </h5>
      <hr>
      <div class="row card-text">
        <div class="col-md">
          <h5>Vacuum Cleaning</h5>
          <ul>
            <li>Full Interior</li>
            <li>Diggi</li>
            <li>Engine</li>
          </ul>

        </div>
        <div class="col-md">
          <h5>Interior Deep Dry Clean</h5>
          <ul>
            <li>Seats</li>
            <li>Seats Betls</li>
            <li>Roof</li>
            <li>Floor Carpet</li>
            <li>Floor Mats</li>
            <li>Boot/Trunk</li>
            <li>Doors</li>
            <li>Doors Panel</li>
            <li>Dash-board</li>
            <li>Centre Console</li>
          </ul>

        </div>
        <div class="col-md">

          <h5>Exterior</h5>
          <h5>Engine Cleaning</h5>
          <ul>
            <li>Vacuuming</li>
            <li>Dry Wash</li>
            <li>Black Polish</li>
          </ul>
          <h5>Washing</h5>
          <ul>
            <li>Gloves Rub</li>
            <li>Jet Wash</li>
          </ul>

        </div>
        <div class="col-md">

          <h5>Basic Polishing</h5>
          <ul>
            <li>Interior Polishable Part</li>
            <li>Dash-board</li>
            <li>Tyres</li>
            <li>Outer Black Parts</li>

          </ul>
        </div>
        <div class="col-md">

          <h5>Final Touches</h5>
          <ul>
            <li>Display Clean</li>
            <li>AC Vents Clean</li>
            <li>Window Clean</li>
            <li>Mirrors Clean</li>
            <li>Wheel Arches Clean</li>
          </ul>
          <button type="button" class="mt-5" mdbBtn gradient="blue" mdbWavesEffect
          (click)="book2()">Book Now</button>
        </div>
      
      </div>

    </div>

   
  </div>

  <!-- card 3 platinum-->
  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h5 class="card-title">PLATINUM PACKAGE
        <mdb-badge color="purple darken-2" class="ml-2 p-2">@<mdb-icon fas icon="rupee-sign ml-2 mr-1"></mdb-icon>1499
        </mdb-badge>
      </h5>
      <hr>

      <div class="row card-text ">
        <div class="col-md">
          <h5>Vacuum Cleaning</h5>
          <ul>
            <li>Full Interior</li>
            <li>Diggi</li>
            <li>Engine</li>
          </ul>
        </div>
        <div class="col-md">
          <h5>Interior Deep Dry Clean</h5>
          <ul>
            <li>Seats</li>
            <li>Seats Betls</li>
            <li>Roof</li>
            <li>Floor Carpet</li>
            <li>Floor Mats</li>
            <li>Boot/Trunk</li>
            <li>Doors</li>
            <li>Doors Panel</li>
            <li>Dash-board</li>
            <li>Centre Console</li>
          </ul>
        </div>


      
      <div class="col-md">
          <h5>Exterior</h5>
          <h5>Engine Cleaning</h5>
          <ul>
            <li>Vacuuming</li>
            <li>Dry Wash</li>
          </ul>
          <h5>Washing</h5>
          <ul>
            <li>Jet Wash</li>
            <li>Gloves Rub</li>
          </ul>
    
      </div>
      <div class="col-md">

       
        <h5>Exterior Polishing</h5>
        <ul>
          <li>Stain Removing</li>
          <li>Rubbing-3M or Meguar's</li>
          <li>Polishing-3M or Meguar's</li>
          <li>Tyres Polish</li>
          <li>Outer Black Parts</li>
        </ul>

      </div>
      <div class="col-md">
        <h5>Interior Polishing</h5>
        <ul>
          <li>Interior Polishable Parts</li>
          <li>Dash-board</li>
          <li>Door Beads</li>
        </ul>

      </div>
      <div class="col-md">
        <ul>
          <h5>Final Touches</h5>

          <li>Display Clean</li>
          <li>AC Vents Clean</li>
          <li>Window Clean</li>
          <li>Mirrors Clean</li>
          <li>Wheel Arches Clean</li>

        </ul>
        <button type="button" class="mt-5" mdbBtn gradient="blue" mdbWavesEffect
        (click)="book3()">Book Now</button>
      </div>

    </div>
  </div>

 
</div>


</div>