<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 row-verify  ">
    <div class="col-md-12">
        <mdb-card>
            <mdb-card-body class="px-lg-5 pt-5  ">
                <div class="alert alert-success  text-center" role="alert">
                    Change Your password
                  </div>
                <form [formGroup]="ChagnePasswordForm" (ngSubmit)="ChangePassword()">
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                        <input mdbInput mdbValidate type="password" id="form25" class="form-control"
                            formControlName="password" />
                        <label for="form25">New password</label>
                        <mdb-error *ngIf="password.invalid &&(password.dirty || password.touched)">
                            <p *ngIf="password.errors?.required" class="text-danger">password is required</p>
                            <p *ngIf="password.errors?.pattern" class="text-danger">Must contain One Uppercase letter and special char(@,%,&...) and should be minimum length of 8 </p>
                        </mdb-error>
                       
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                        <input mdbInput mdbValidate type="password" id="form26" class="form-control"
                            formControlName="repassword" />
                        <label for="form26">Confirm Password</label>
                        <mdb-error *ngIf="
                        ChagnePasswordForm.invalid
                        ">
                           <p *ngIf="ChagnePasswordForm.errors?.misMatch" class="text-danger">Password Doesn't Match</p>
                        </mdb-error>
                    </div>
                    <div class="text-center mb-3">
                        <button [disabled]="!ChagnePasswordForm.valid" type="submit" mdbBtn gradient="blue" block="true"
                            rounded="true" class="z-depth-1a waves-light"  mdbWavesEffect>Change Password
                        </button>
                    </div>
                </form>

            </mdb-card-body>
        </mdb-card>
    </div>
</div>
</div>
</div>