<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <div *ngIf=!loggedIn>
            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
            <a class="text-light" routerLink="/login">Login</a>
          </div>
            
            <div *ngIf=loggedIn class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user fa-lg" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" routerLink="/profile">My Profile</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Orders</a>
                 <div class="divider dropdown-divider"></div>
                 
                <span  class="logoutIcon dropdown-item" (click)="logout()"><mdb-icon  fas icon="sign-out-alt" style="color: #1B98F5;"></mdb-icon>LogOut</span> 
                
              
              
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!-- Spinner to intercept http request -->
<div *ngIf="loadService.isLoading | async" class="loader-container d-flex justify-content-center ">
  <div class="spinner-grow text-primary " role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!--/.Navbar-->
  <router-outlet></router-outlet> 
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
