<div class="container">
    <!-- Card -->
    <div class="row">
        <div class="col">
            <mdb-card class="mt-5">
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img> -->
                    <i class="fas fa-chalkboard-teacher fa-10x"></i>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Profile</h4>
                    </mdb-card-title>
                    Neeraj Kumar
                    <!--Text-->
                    <mdb-card-text>
                    </mdb-card-text>

                    <a mdbBtn gradient="purple" (click)="myProfile()" mdbWavesEffect>View Profile</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
        <div class="col">
            <mdb-card class="mt-5">
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img> -->
                    <i class="fas fa-chalkboard-teacher fa-10x"></i>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Profile</h4>
                    </mdb-card-title>
                    Neeraj Kumar
                    <!--Text-->
                    <mdb-card-text>
                    </mdb-card-text>

                    <a href="#" mdbBtn  gradient="blue" mdbWavesEffect>View User</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
        <div class="col">
            <mdb-card class="mt-5">
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <!-- <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img> -->
                    <i class="fas fa-chalkboard-teacher fa-10x"></i>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Profile</h4>
                    </mdb-card-title>
                    Neeraj Kumar
                    <!--Text-->
                    <mdb-card-text>
                    </mdb-card-text>

                    <a href="#" mdbBtn gradient="aqua" mdbWavesEffect>View Washer</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
    </div>
</div>