.carousel {

    max-height: 400px;
    
    img {
    
    max-height: 550px;
    
    }
    
    }

.check{
    color: green;
}
span{
   padding: 20px;
    font-size: 18px;
   
}

.moreDetails{
    color: #2196F3;
    
}