<div class="container-fluid">
    <div class="row ">
        <div class="col-5 ">
         </div>
    <div class="row-login col-md-6 mt-5 mb-5 " >
        <mdb-card>
            <mdb-card-header class="info-color white-text text-center py-4">
                <h5>
                    <strong><i class='fas fa-user pr-2'></i>Sign Up</strong>
                </h5>
            </mdb-card-header>
            <mdb-card-body class="px-lg-5 pt-0 ">
                <form >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input type="text" id="form20" mdbInput [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" class="form-control" />
                                <label for="form20">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input type="text" id="form21" mdbInput [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="form-control" />
                                <label for="form21">Last Name</label>
                            </div>
                        </div>

                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                        <input type="email" id="form22" mdbInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" />
                        <label for="form22">Your email</label>
                       

                    </div>

                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix "></mdb-icon>
                        <input mdbInput type="password" id="form23" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                        <label for="form23">Your password</label>
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix "></mdb-icon>
                        <input mdbInput type="password" id="form24" class="form-control" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}"/>
                        <label for="form24">Re-Enter password</label>
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="phone" class="prefix "></mdb-icon>
                        <input mdbInput type="text" id="form25" class="form-control" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}"/>
                        <label for="form25">Mobile</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="map-pin" class="prefix "></mdb-icon>
                                <input mdbInput type="text" id="form26" class="form-control" [(ngModel)]="pincode" [ngModelOptions]="{standalone: true}"/>
                                <label for="form26">Pincode</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="city" class="prefix "></mdb-icon>
                                <input mdbInput type="text" id="form27" class="form-control" [(ngModel)]="city" [ngModelOptions]="{standalone: true}"/>
                                <label for="form27">City/Town/District</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <select id="form28" class="form-control" placeholder="Choose your option" label="Example label" (change)="stateData($event.target.value)">
                                    <option >State</option>
                                  <option *ngFor="let state of states" value={{state}} >{{state}}</option>
                                </select>
                               
                              </div>
                        </div>
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="address-card" class="prefix "></mdb-icon>
                        <input mdbInput type="text" id="form29" class="form-control " [(ngModel)]="street" [ngModelOptions]="{standalone: true}"/>
                        <label for="form29">Address (Area and Street)</label>
                    </div>
                </form>
                <div class="text-center mb-3">
                    <button type="button" mdbBtn gradient="blue" block="true" rounded="true"
                        class="z-depth-1a waves-light" mdbWavesEffect  (click)="signup()">Sign Up
                    </button>
                </div>
                <div class="options text-right ">
                    <p class="pt-2">
                      Already have an account?
                      <a routerLink="/login" class="blue-text">Log In</a>
                    </p>
                  </div>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>
</div>