<!-- <a  mdbWavesEffect > 
<div *ngFor="let list of ordersList"> 
<div class="jumbotron m-5" (click)="click(list)" >
    <h1 class="display-4">Customer Name: {{list.customerName}}</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a mdbBtn color="primary" size="lg"  role="button"  mdbWavesEffect>Learn more</a>
  </div>
</div>     
</a> -->

<div class="container mt-5 ">
    <div *ngFor="let list of ordersList" (click)="OnOrderClick(list)">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p> <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> Package </p>
                        <p>{{list.package}}</p>
                    </div>
                    <div class="col">
                        <p>{{list.carModal}}</p>
                        <small>{{list.carNumber}}</small>
                        <br>
                        <small>Washer: {{list.washerName}}</small>
                    </div>
                    <div class="col">
                         <p><i class="fas fa-rupee-sign"></i>Price</p>
                         <p>{{list.amount}}</p>
                    </div>
                    <div class="col">
                        <ng-container [ngSwitch]="list.status">
                            <div *ngSwitchCase="'PENDING'">
                               <p><i class="fas fa-clock  " style="color: rgb(255, 166, 0);"  ></i>Pending</p>
                               <small>Your booking has been recieved</small>
                            </div>
                            <div *ngSwitchCase="'PROCESSING'">
                                <p ><i class="fas fa-clock" style="color: green;" aria-hidden="true"></i>Processing</p>
                                <small>Washer is processing the booking </small>
                            </div>
                            <div *ngSwitchCase="'COMPLETED'">
                                <p><i class="fas fa-check-circle" style="color:green;" ></i>completed </p>
                                <small>Your order is successfull</small>
                            </div>
                            <div *ngSwitchCase="'CANCELED'">
                                <p><i class="fas fa-times-circle" style="color: red;" aria-hidden="true"></i>Cancel
                                    <br>
                                    <small>Your order has been canceled</small>
                                </p>
                                
                            </div>
                       </ng-container>
                       
                       <a (click)="ratings(list)" class="text-info" ><i class="fa fa-star" aria-hidden="true"></i><strong>Rate and Review Service</strong></a>
                     
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>