<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 row-verify  ">
    <div class="col-md-12">
        <mdb-card>
            <mdb-card-body class="px-lg-5 pt-5  ">
                <form>
               
                <div class="alert alert-success" role="alert">
                  OTP has been sent to your email id enter to verify account
                  {{otp}}
                </div>
                    <div class="md-form form-sm ">
                        <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                        <input type="text" id="form22" mdbInput   class="form-control" [(ngModel)]='otp'  [ngModelOptions]="{standalone: true}"/>
                        <label for="form22">Enter OTP</label>
                    </div>

                    <div class="text-center mb-3">
                        <button  type="button" mdbBtn gradient="blue" block="true" rounded="true"
                            class="z-depth-1a waves-light" (click)="verifyOtp()" mdbWavesEffect >verify
                        </button>
                    </div>
                </form>

            </mdb-card-body>
        </mdb-card>
    </div>
</div>
</div>
</div>